<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <h1 class="hero-title">
        Quality brands at competitive prices.
      </h1>

      <p class="subtitle">
        Our company has grown to become a trusted name in the world of wholesale supplies. We started out as a local supplier, serving small businesses in our community with the tools and resources they needed to succeed. As our reputation for quality products and exceptional customer service grew, so did our reach.
      </p>
    </div>
  </div>
</section>
